.top{
  text-align: right;
}
img{
  fl
  width: inherit;
  align-content: center;
  padding-left: 600px;
  padding-top: 200px;
}
textarea{
  width: inherit;
  border-radius: 100px;
  position: absolute;
  left: 590px;
  top: 400px;


}
